{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
    padding:200px;
    text-align:center;
    background-image:url( "{% static 'backg.jpg' %}" );
    background-size:cover;
    }

 </style>
<body>
<form action="login" method="post">
    {% csrf_token %}
      <input type="text" name="username" placeholder="Enter your username"><br><br>
      <input type="password" name="password" placeholder="Enter password"><br><br>
      <input type="submit">
</form>
    {% for msg in messages %}
    <h1 style="color:white;">{{msg}}</h1>
    {% endfor %}

</body>
</html>